.abogadoSection {
    width: 100%;
    margin: 60px auto;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
}



.abogadoSection h1 {
    margin: 30px;
    color: white;
}

.abogadoSectionFather{
    width: 90%;
    margin: 30px auto;
}