.layout .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.layout .texto a {
    margin: 0 30px;
    text-decoration: none;
    color: white;
}

.layout .texto a:hover {
color: rgb(167, 167, 167);
}

@media (max-width: 600px) { 
    .layout .texto a {
        font-size: 5px;
        margin: 0 10px;
    }

    .layout .texto a h1 {
        font-size: 25px;
    }
    .layout .texto a h3 {
        font-size: 18px;
    }
}