.menuElement {
    width: 50%;
    height:700px;  
    transition: all .3s;  
    overflow: hidden;
}



.menuElement:hover {
    transform: scale(1.05);
}

.filtro {
    transition: all .3s;  
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;    
    backdrop-filter: blur(5px);
}




.filtro:hover{
    backdrop-filter: blur(0px);
}

.menuElement a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;


}

.abogado {
    background-image: url("../assets/abogadoimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tramites {
    background-image: url("../assets/tramites.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 600px) { 
    .menuElement {
    
        width: 100%;
    }
}