.principal {
    text-align: center;
    width: 100%;
    margin: 10px auto;


}

.principal h1 {
    margin: 15px auto;
    font-weight:700;
    font-family: 'IBM Plex Sans', sans-serif;}

.menu {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}